<h3>local JSON:</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
  </tr>
  <tr *ngFor="let user of dataUsers, index as i">
    <td>{{i}}. {{user.EventTarget}}</td>
    <td>{{user.EventName}}</td>
  </tr>
</table>

<h3>api HTTP:</h3>
<table>
  <tr>
    <th>name</th>
    <th>username</th>
  </tr>
  <tr *ngFor="let user of apiUsers, index as i">
    <td [ngClass]="firstLetters()">{{i}}. {{user.name}}</td>
    <td>{{user.username}}</td>
  </tr>
  <!-- <p>{{ dataUsers | json}}</p> -->
</table>

<h3>localStorage data:</h3>
<p>{{ localStorageUsers | json}}</p>
<button (click)="removeFromLocaStorage()">remove item</button>
<p><a routerLink="addToLocalStorage">add item</a></p>

<router-outlet></router-outlet>